.menuTitle {
  text-align: center;
  display: block;
  font-size: 54px;
  text-decoration: underline;
  margin: 36px 0;
}

.menuGrid {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.menuGridItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.menuGridItems img {
  height: 275px;
  width: 275px;
  transition: transform 0.3s;
  margin-bottom: 16px;
}

.menuGridItems img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}
