.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.navBar a {
  text-decoration: none;
}

.navBar > a[class='active'] {
  border-bottom: 1px solid red;
}

.navBar > a[class='active'] span {
  color: red;
}

.navBar a:visited {
  color: black;
}
